@font-face {
  font-family: "Poppins", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
}

body,
html {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0;
  overflow-y: hidden;
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.main-content-wrapper {
  height: 100%;
  width: 75%;
  margin-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
}
.side-menu-wrapper {
  width: 25%;
  height: 100%;
}
